<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<springProfile name="default">
		<logger name="org.springframework" level="INFO" />
		<logger name="com.appd.mvp" level="DEBUG" />
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>
	<springProfile name="prod">
		<appender name="RollingLogs"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>logs/comAppDmvp.log</file>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>logs/archived/comAppDmvp.%d{yyyy-MM-dd}.%i.log
				</fileNamePattern>
				<maxFileSize>1MB</maxFileSize>
				<totalSizeCap>10MB</totalSizeCap>
				<maxHistory>3</maxHistory>
			</rollingPolicy>
			<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<pattern>%d %p %c{1.} [%t] %m%n</pattern>
			</encoder>
		</appender>
		<logger name="org.springframework" level="INFO" />
		<logger name="com.appd.mvp" level="DEBUG" />
		<root level="INFO">
			<appender-ref ref="RollingLogs" />
		</root>
	</springProfile>
</configuration>